body{
	background-color: antiquewhite;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 120px;
	padding: 2%;

}

main{
	position: absolute;
	top:0 ;
	left:180px;
}

nav ul li {
	list-style: none;
}

h1{
	background-color: rgb(207, 51, 31);
	color: goldenrod;
	text-align: center;
	margin-right: 10%;
	padding: 2%;
	border-radius:10px; 
}


h3{
	background-color: rgba(252, 170, 38, .5);
	padding:.5%;
	margin-right: 10%;
	border-radius:10px; 

}

#bottom{

	padding: 5%;
	margin: 4%;

}



#mainimage{
	width:auto ;
	height:auto ;
	display: block;
	margin: auto;

}

.responsive {
  	max-width: 100%;
 	 height: auto;
 	 padding-top: 1%;
 	 padding-bottom:.5% ;

  }



a:link {
  	color: #003cff;
}

/* visited link */
a:visited {
  	color: #731cff;
}

/* mouse over link */
a:hover {
	  color: #FF00FF;
}

#container{

}

@media(max-width: 1024px){

	nav{
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
		height: 150px;
		overflow: scroll;
		border: 1px solid indianred;

	}
	nav::before {
		content: "Navagation Menu";
		background-color: darkred;
		color: white;
		font-size: 1.5rem;
		text-align: center;
		width: 100%;
		display: block;
	}

	main{
		position: absolute;
		top:180px ;
		left:0;
		margin: auto;
		padding-left: 10px;
	}







}

@media (max-width: 768px){

	nav{
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
		height: 150px;
		overflow: scroll;
		border: 1px solid indianred;

	}
	nav::before {
		content: "Navagation Menu";
		color: white;
		font-size: 1.5rem;
		text-align: center;
		width: 100%;
		display: block;
		background-color: goldenrod;
	}

	main{
		position: absolute;
		top:180px ;
		left:0;
		margin: auto;
		padding-left: 10px;
	}

	.flex-container {
  		display: flex;
 	 	flex-wrap: wrap;
 		

 	}

 	.flex-container > div {
 		 background-color: lightyellow;
 		 border-radius: 10px;
 		 width: 70px;
 		 margin: 10px;
  		 text-align: center;
 		 line-height: 55px;
 		 font-size: 20px;

}





}

@media (max-width: 480px){

	nav{
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
		height: 150px;
		overflow: scroll;
		border: 1px solid indianred;

	}
	nav::before {
		content: "Navagation Menu";
		background-color: red;
		color: white;
		font-size: 1.5rem;
		text-align: cemter;
		width: 100%;
		display: block;
		
	}

	main{
		position: absolute;
		top:180px ;
		left:0;
	}





}
